*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', Helvetica , Tahoma, Geneva, Verdana, sans-serif;
    // font-synthesis: none;
    // text-rendering: optimizeLegibility;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // -webkit-text-size-adjust: 100%;
}

html::-webkit-scrollbar {
    display: none;
}
.main-page{
    position: relative;
    z-index: 10;
}

#smooth-wrapper{
    position: fixed;
    z-index: -9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}