@import './Utils/Variables.scss';

a{
    text-decoration: none;
    color: $secondary-color;
}
.navbar{
    
    &-wrapper{
        position: fixed;
        list-style: none;
    }

    &-toggle{
        position: absolute;
        z-index: 0 !important;
        .toggle-wrapper{
            width: 100vw;
            display: flex;
            justify-content: end;
            .circle{
                margin-top: 30px;
                margin-right: 30px;
                border-radius: 50%;
                height: 60px;
                width: 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transition: scale 0.5s ease-out;
                .lines{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    height: 10px;
                    transition: scale 0.4s ease-out;
                    .line1{
                        transition: scale 0.3s ease-out;
                        background-color: $secondary-color;
                        mix-blend-mode: difference;
                        height: 2px;
                        width: 25px;
                        transform: translateY(0px) rotate(0deg);
                        transition: transform 0.8s ease-out;

                    }
                    .line2{
                        background-color: $secondary-color;
                        mix-blend-mode: difference;
                        height: 2px;
                        width: 25px;
                        transform: translateY(0px) rotate(0deg);
                        transition: transform 0.8s ease-out;
                    }
                }
                &:hover{
                    .lines{
                        scale: 0.9;
                    }
                }
                opacity : 1;
                transition: opacity 0.5 ease-out;
            }
        }
    }
    
    &-toggle-inside{
        position: absolute;
        .toggle-wrapper-inside{
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: end;
            .circle{
                background-color: $primary-color;
                margin-top: 30px;
                margin-right: 30px;
                border-radius: 50%;
                height: 60px;
                width: 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transition: scale 0.5s ease-out;
                .lines{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    height: 10px;
                    transition: scale 0.4s ease-out;
                    .line1{
                        transition: scale 0.3s ease-out;
                        background-color: $secondary-color;
                        height: 2px;
                        width: 40px;
                        transform: translateY(4px) rotate(45deg) !important;
                    }
                    .line2{
                        background-color: $secondary-color;
                        height: 2px;
                        width: 40px;
                        transform: translateY(-4px) rotate(-45deg) !important;
                    }
                }
                &:hover{
                    scale: 0.9;
                    .lines{
                        scale: 0.8;
                    }
                }
                opacity : 1;
                transition: opacity 0.5 ease-out;
            }
        }
    }

    &-first-transition{
        // z-index: 9999 !important;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: $secondary-color;
    }
    &-main{
        z-index: 999999 !important;
        background-color: $primary-color;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .links-list{
            line-height: 6em;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 50px;
            & > li{
                width: 100%;
                border: 0;
                list-style: none;
                font-size: 6rem;
                font-weight: bold;
            }
            
            .home, .about, .projects{
                overflow-y: hidden;
                -webkit-text-stroke: 0px;
                color: $secondary-color;
                &:hover{
                    color: $primary-color;
                    -webkit-text-stroke: 1px $secondary-color;
                }
            }
        }
    }
}

// Tablet
@media (max-width: $tablet-size) {

    .home, .about, .projects{
        &:hover{
            color: $secondary-color !important;
            -webkit-text-stroke: 0px !important;
        }
    }
    .circle{
        transition: none !important;
        .lines{
            transition: none !important;
            scale: 1 !important;
        }
        &:hover{
            scale: 1 !important;
        }
    }
}

// Mobile
@media (max-width: $mobile-size) {
    
    .home, .about, .projects{
        &:hover{
            color: $secondary-color !important;
            -webkit-text-stroke: 0px !important;
        }
    }
    .circle{
        border: 0 !important;
        transition: none !important;
        .lines{
            transition: none !important;
            scale: 1 !important;
        }
        &:hover{
            scale: 1 !important;
        }
    }
    .links-list{
        line-height: 4em !important;
        margin: 10px;
        & > li{
            font-size: 2rem !important;
        }
    }
}