@import '../../styles/Utils/Variables.scss';

.about-wrapper{
    position: relative;
    background-color: $primary-color;
    color: $secondary-color;
}
.about-main-page{
    height: 100vh;
    width: 100vw;
}