@import '../../../styles/Utils/Variables.scss';

.experience-section-wrapper{
    display: flex;
    flex-direction: column;
    color: $secondary-color;
    text-transform: uppercase;
    .period{
        font-size: 0.6rem;
        font-weight: 800;
        margin-bottom: 10px;
        letter-spacing: 0.1em;
    }
    .name{
        font-size: 1rem;
        font-weight: 800;
        margin-bottom: 5px;
        letter-spacing: 0.1em;
    }
    .description{
      height: 40px;
      font-size: 0.5rem;
      font-weight: 300;
      letter-spacing: 0.15em;
      line-height: 1.8em;
      width: 390px;
    }
  }

  @media (max-width: $mobile-size) {
    .experience-section-wrapper{
      .period{
        font-size: 0.4rem;
        font-weight: 500;
        color: $secondary-color;
        margin-bottom: 10px;
        letter-spacing: 0.2em;
      }
      .name{
        font-size: 0.6rem;
        font-weight: bold;
        margin-bottom: 10px;
        letter-spacing: 0.1em;
      }
      .description{
        font-size: 0.4rem !important;
        font-weight: lighter;
        letter-spacing: 0.1em;
        width: 300px;
      }
    }
  }
